<div class="container">
  <div *ngIf="tipoForm!='ver'">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Agregar Estudiante
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Estudiantes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <input class="form-control" type="text" id="filtro" (keyup)="serTabla.filtrarTabla('filtro','lista',0)"
                placeholder="Buscar Estudiante..." title="Nombre del Estudiante">
            </div>
            <div class="my-4 modal-table-list-scroll-y">
              <table id="lista" class="table table-sm">
                <tr>
                  <th>Estudiante</th>
                  <th>Instrumento</th>
                </tr>
                <tr *ngFor="let est of objEstudiantes" (click)="agregar(est)">
                  <td>{{est.nombre}}</td>
                  <td>{{est.instrumento_principal.nombre}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-sm">
    <tr>
      <th>Estudiante</th>
      
    </tr>
    <tr *ngFor="let est of objEstudiantesSeleccionados">
      <td>{{est.nombre}}</td>
      <td><i (click)="quitar(est)" class="material-icons">remove_circle</i></td>
      
    </tr>
  </table>
</div>