<h2>Horario</h2>
<div class="container">
  <div class="centrarTabla">
    <table (click)="seleccionarCelda($event)" class='tablaHorario' id='tbHorario'>
      <thead>
        <th></th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>        
      </thead>
      <tbody>
        <tr>
          <td>08:00</td>
          <td id="l08" class="horario"></td>
          <td id="k08" class="horario"></td>
          <td id="m08" class="horario"></td>
          <td id="j08" class="horario"></td>
          <td id="v08" class="horario"></td>
          <td id="s08" class="horario"></td>          
        </tr>
        <tr>
          <td>09:00</td>
          <td id="l09" class="horario"></td>
          <td id="k09" class="horario"></td>
          <td id="m09" class="horario"></td>
          <td id="j09" class="horario"></td>
          <td id="v09" class="horario"></td>
          <td id="s09" class="horario"></td>
        </tr>
        <tr>
          <td>10:00</td>
          <td id="l10" class="horario"></td>
          <td id="k10" class="horario"></td>
          <td id="m10" class="horario"></td>
          <td id="j10" class="horario"></td>
          <td id="v10" class="horario"></td>
          <td id="s10" class="horario"></td>
        </tr>
        <tr>
          <td>11:00</td>
          <td id="l11" class="horario"></td>
          <td id="k11" class="horario"></td>
          <td id="m11" class="horario"></td>
          <td id="j11" class="horario"></td>
          <td id="v11" class="horario"></td>
          <td id="s11" class="horario"></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td id="l12" class="horario"></td>
          <td id="k12" class="horario"></td>
          <td id="m12" class="horario"></td>
          <td id="j12" class="horario"></td>
          <td id="v12" class="horario"></td>
          <td id="s12" class="horario"></td>
        </tr>
        <tr>
          <td>13:00</td>
          <td id="l13" class="horario"></td>
          <td id="k13" class="horario"></td>
          <td id="m13" class="horario"></td>
          <td id="j13" class="horario"></td>
          <td id="v13" class="horario"></td>
          <td id="s13" class="horario"></td>
        </tr>
        <tr>
          <td>14:00</td>
          <td id="l14" class="horario"></td>
          <td id="k14" class="horario"></td>
          <td id="m14" class="horario"></td>
          <td id="j14" class="horario"></td>
          <td id="v14" class="horario"></td>
          <td id="s14" class="horario"></td>
        </tr>
        <tr>
          <td>15:00</td>
          <td id="l15" class="horario"></td>
          <td id="k15" class="horario"></td>
          <td id="m15" class="horario"></td>
          <td id="j15" class="horario"></td>
          <td id="v15" class="horario"></td>
          <td id="s15" class="horario"></td>
        </tr>
        <tr>
          <td>16:00</td>
          <td id="l16" class="horario"></td>
          <td id="k16" class="horario"></td>
          <td id="m16" class="horario"></td>
          <td id="j16" class="horario"></td>
          <td id="v16" class="horario"></td>
          <td id="s16" class="horario"></td>
        </tr>
        <tr>
          <td>17:00</td>
          <td id="l17" class="horario"></td>
          <td id="k17" class="horario"></td>
          <td id="m17" class="horario"></td>
          <td id="j17" class="horario"></td>
          <td id="v17" class="horario"></td>
          <td id="s17" class="horario"></td>
        </tr>
        <tr>
          <td>18:00</td>
          <td id="l18" class="horario"></td>
          <td id="k18" class="horario"></td>
          <td id="m18" class="horario"></td>
          <td id="j18" class="horario"></td>
          <td id="v18" class="horario"></td>
          <td id="s18" class="horario"></td>
        </tr>
        <tr>
          <td>19:00</td>
          <td id="l19" class="horario"></td>
          <td id="k19" class="horario"></td>
          <td id="m19" class="horario"></td>
          <td id="j19" class="horario"></td>
          <td id="v19" class="horario"></td>
          <td id="s19" class="horario"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>